# Load data

In [3]:
import pandas as pd
import numpy as np

In [4]:
helthy_diet_data = pd.read_csv('./data/price_of_healthy_diet_clean.csv')

In [6]:
helthy_diet_data.size

15169

In [9]:
helthy_diet_data.head()

,country_code,country,region,year,cost_healthy_diet_ppp_usd,annual_cost_healthy_diet_usd,cost_vegetables_ppp_usd,cost_fruits_ppp_usd,total_food_components_cost,cost_category,data_quality
0,8,Albania,Africa,2017,3.04,1109.60,NaN,NaN,NaN,High Cost,Estimated value
1,8,Albania,Africa,2018,3.13,1142.45,NaN,NaN,NaN,High Cost,Estimated value
2,8,Albania,Africa,2019,3.32,1211.80,NaN,NaN,NaN,High Cost,Estimated value
3,8,Albania,Africa,2020,3.40,1241.00,NaN,NaN,NaN,High Cost,Estimated value
4,8,Albania,Africa,2021,3.49,1273.85,0.6,0.77,1.37,High Cost,Estimated value

In [8]:
helthy_diet_data.columns

Index(['country_code', 'country', 'region', 'year',
       'cost_healthy_diet_ppp_usd', 'annual_cost_healthy_diet_usd',
       'cost_vegetables_ppp_usd', 'cost_fruits_ppp_usd',
       'total_food_components_cost', 'cost_category', 'data_quality'],
      dtype='object')